body {
 margin: 0;
 padding: 0;
}

.head {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  min-width: 320px;
  height: 88px;
}


@media (max-width: 776px) {
  .header_call,
  .header_chat,
  .header_profile,
  .head_divider_one {
    display: none;
  }
}

@media (max-width: 776px) { 
  .leftTwo {
    padding-left: 12px;
  }
}

@media (max-width: 776px) {
  .head_divider {
    margin-left: auto;

  }
}

@media (max-width: 776px) {
  .head_burger {
    margin-right: 15px;
  }
}


.head_repair {
  padding-left: 10px;
  padding-right: 10px;
}



.right {
  margin-left: 16px;
}




.leftTwo {
  margin: 0;
  padding-right: 15px;
}

.header_call,
.header_chat,
.header_profile {
  margin-right: 10px;
}

.leftOne {
  margin-left: auto;
  margin-right: 0;
}


.head_divider {
  background-color: #EAEAEA;
  width: 2px;
  height: 32px;
  border-radius: 1px;
  margin-right: 0px;
  padding: 0;
  margin:0px;
}

.head_divider_one {
  background-color: #EAEAEA;
  width: 2px;
  height: 32px;
  border-radius: 1px;
  margin-right: 0px;
  padding: 0;
  margin:0px;
  margin-left: 15px;
  margin-right: 15px;

}


.content_h2 {
  width:288px; 
  margin-left: 0;
  font-size: 28px;
  line-height: 40px;
  margin-left:16px;
}

.content_h2::before {
   content: '';
   height: 40px;
   background-color:#41F6D7 ;
   padding:2px;
   margin-right:16px;
   margin-left: -16px;
}

.abc {
  background-color:#F8F8F8;
}

.bcd {
  margin-left:16px;
}



















