@font-face {
  font-family: 'TT Lakes';
  src: url('../fonts/TTLakes/TTLakes-Regular.eot');
  src: local('TT Lakes Regular'), local('TTLakes-Regular'),
      url('../fonts/TTLakes/TTLakes-Regular.eot?#iefix') format('embedded-opentype'),
      url('../fonts/TTLakes/TTLakes-Regular.woff') format('woff'),
      url('../fonts/TTLakes/TTLakes-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'TT Lakes';
  max-width: 1120px;
  margin-left: auto;
  margin-right: auto;
}



@media (max-width:768px) {
  .text_p2 {
    display:none
  }

  .kartinka {
    margin-left: -16px;
    margin-right: 0px;
  }
}

.content {
  background-color:#F8F8F8;
  padding-left:16px ;
  max-width: 1120px;
}

.title_h1 {
   width:288px; 
   margin-left: 0;
   font-size: 28px;
   line-height: 40px;
}

.title_h1::before {
    content: '';
    height: 40px;
    background-color:#41F6D7 ;
    padding:2px;
    margin-right:16px;
    margin-left: -16px;
 }

 /*over*/

@media (max-width:1119px) {
  .navigation {
    overflow: auto;
    height: 40px;
  }

  .text_count {
    display: none
  }
}

@media (min-width:1120px) {
  .navigation {
    flex-wrap: wrap;;
  }

}

 .navigation {
   display: flex;
   max-width: 1063px;
 }

.navigation_el1,
.navigation_el2,
.navigation_el3,
.navigation_el4,
.navigation_el6
 {  
    white-space: nowrap;
    line-height: 24px;
    font-size: 16px;
    padding-left: 15px;
    padding-right: 15px;
    color: #7E7E82;
    border: 2px solid #F8F8F8;
    background-color:#F8F8F8;

}



.navigation_el1{
  border:2px solid #B8FFEC;
  border-radius: 6px;
  background-color: white;
}

.maincintent {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
}



.text_p2
.text_p {
  padding: 0;
  font-size: 14px;
  line-height: 18px;

}
.text {
 min-width: 312px;
 margin: 0;
 padding: 0;
 margin-right:0;

}

.text_span {
  font-size: 16px;
  margin-left: 14px;
  font-weight: bold;
}

.icon {
  padding: 5px;
}

.kartinka {
  margin: 0;
  padding: 0;
  width: 320px;
}

@media (max-width:768px) {
  .kartinka {
    margin-left: -16px;
  }
}


.text {
  margin-right: 30px;
  max-width: 490px;
}

.maincintent {
  margin-top:0px;
  padding-top: 10px;
}

header {
  margin-bottom:0;
}

.navigation {
  margin-bottom:0px;
}

main {
  background-color: #7E7E82;
}

.title {
  display: flex;
  align-items: center;
}

.headerPCRight {
  margin-left: auto;
  min-width: 320px;
  text-align: center;
  height: auto;
}

img {
  vertical-align: middle;
}

.headerPCRight_checkstatus {
  margin-right: 24px;;
}

@media (max-width:1119px) {
  .headerPCRight {
    display: none;
  }
}

@media (min-width:1120px) {
  .head {
    display: none;
  }
}

@media (max-width:767px) {
  .maincintent {
    flex-wrap: wrap;
  }
}


@media (min-width:1120px) {
  .kartinka2 {
    width: 532px;
    height: auto;
  }
}

@media (max-width:1119px) {
  .kartinka2{
    width: 320px;
    height: auto;
  }
}

@media (max-width:768px) {
  .text {
    max-width:312px;
  }

}

.kartinka2 {
  margin-left: auto;
  padding: 0;
}

.kartinka {
  margin-right: -1006px;
}

.content {
  margin-right: 0;
}

@media (min-width:1119px) {
  .text {
    margin-left: 24px;
  }

  .navigation {
    margin-left: 24px;
  }


  .title_h1::before {
    margin-right: 40px;
  }
  
}

