@font-face {
  font-family: 'TT Lakes';
  src: url('../fonts/TTLakes/TTLakes-Regular.eot');
  src: local('TT Lakes Regular'), local('TTLakes-Regular'),
      url('../fonts/TTLakes/TTLakes-Regular.eot?#iefix') format('embedded-opentype'),
      url('../fonts/TTLakes/TTLakes-Regular.woff') format('woff'),
      url('../fonts/TTLakes/TTLakes-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'TT Lakes';
}



@media (max-width:768px) {
  .text_p2 {
    display:none
  }

  .kartinka {
    margin-left: -16px;
    margin-right: 0px;
  }
}

.content {
  background-color:#F8F8F8;
  padding-left:16px ;
}

.content_h2 {
   width:288px; 
   margin-left: 0;
   font-size: 28px;
   line-height: 40px;
}

.content_h2::before {
    content: '';
    height: 40px;
    background-color:#41F6D7 ;
    padding:2px;
    margin-right:16px;
    margin-left: -16px;
 }

 /*over*/

 .navigation {
   display: flex;
   overflow: auto;
   height: 40px;
 }

.navigation_el1,
.navigation_el2,
.navigation_el3,
.navigation_el4
 {  
    white-space: nowrap;
    line-height: 24px;
    font-size: 16px;
    padding-left: 15px;
    padding-right: 15px;
    color: #7E7E82;
    border: 2px solid #F8F8F8;
    background-color:#F8F8F8;

}



.navigation_el1{
  border:2px solid #B8FFEC;
  border-radius: 6px;
  background-color: white;
}

.maincintent {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}



.text_p2
.text_p {
  padding: 0;
  font-size: 14px;
  line-height: 18px;

}
.text {
 max-width: 312px;
 margin: 0;
 padding: 0;
 margin-right:0;

}

.text_span {
  font-size: 16px;
  margin-left: 14px;
  font-weight: bold;
}

.icon {
  padding: 5px;
}

.kartinka {
  margin: 0;
  padding: 0;
  min-width: 320px;
  height: auto;

}

@media (min-width:768px) {
  .kartinka {
    margin-left: auto;
    margin-right:16px;
  }
}

@media (max-width:768px) {
  .kartinka {
    margin-left: -16px;
  }
}


